#heroAbout{
    margin-top: 40px;
    @media only screen and (max-width: 767px){
        margin-bottom: 88px;
    }
}

.hero-about{
    margin-bottom: 108px;
    .global-subtitle{
        margin-bottom: 80px;
        padding-bottom: 16px;
        border-bottom: 1px solid #F1F1F1;
    }

    .hero-about-block{
        display: grid;
        grid-template-columns: 384px 696px;
        grid-column-gap: 80px;
    }
    .hero-about-text{
        font-family: r-r;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0em;
        text-align: left;
    }
    .about-image{
        width: 686px;
        height: 378px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    @media only screen and (max-width: 1189px){
        .hero-about-block{
            grid-template-columns: 384px 506px;
            grid-column-gap: 40px;
        }
        
        .about-image{
            width: 506px;
            height: 368px;
        }
    }

    @media only screen and (max-width: 1023px){
        .hero-about-block{
            grid-template-columns: 282px 400px;
            grid-column-gap: 38px;
        }
        
        .about-image{
            
            width: 400px;
            height: 310px;
        }
    }
    @media only screen and (max-width: 767px){
        .hero-about-block{
            grid-template-columns: 1fr;
        }
        .about-image{
            margin-top: 24px;
            width: 100%;
        }
        .global-subtitle{
            margin-bottom: 44px;
        }
        .hero-about-text{
            font-size: 20px;
            line-height: 26px;
        }
    }
}

.advantages-section{
    .global-subtitle{
        margin-bottom: 44px;
    }

    .advantages-block{
        display: grid;
        grid-template-columns: 368px 368px 368px;
        grid-column-gap: 28px;
        grid-row-gap: 40px; 
        margin-bottom: 108px;
    }

    .advantages-text{
        font-family: r-r;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: left;

    }

    .advantages-title{
        color: #0071C5;
        text-transform: uppercase;
        margin-bottom: 8px;
        font-family: r-m;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;

       

    }

    .about-slide-text{
        margin-top: 24px;
        max-width: 600px;
        font-family: r-r;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 0em;
        text-align: left;

    }


    .swiper-button-prev{
        width: 44px;
            height: 44px;
            background-size: contain;
            background-image: url("/image/rightArrow.svg");
            z-index: 2;
            position: absolute;
            transform: rotate(-180deg);
            left: 0px;
            margin-top: -40px;
        &::after{
            content: none;
        }
    }
    .swiper-button-next{
        width: 44px;
            height: 44px;
            background-size: contain;
            background-image: url("/image/rightArrow.svg");
            z-index: 2;
            position: absolute;
            right: 0;
            margin-top: -40px;
        &::after{
            content: none;
        }
    }
    .myAboutSwiper{
        margin-bottom: 108px;
    }

    .about-slide-image{
        width: 100%;
        height: 400px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    @media only screen and (max-width: 1189px){
        .advantages-block{
            grid-template-columns: 296px 296px 296px;
        }
    }
    @media only screen and (max-width: 1023px){
        .advantages-block{
            grid-template-columns: 340px 340px;
        }
    }
    @media only screen and (max-width: 767px){
        .advantages-block{
            grid-template-columns: 1fr;
            grid-row-gap: 32px;
        }
        .global-subtitle{
            margin-bottom: 32px;
        }
        .swiper-button-next, .swiper-button-prev{
            width: 32px;
            height: 32px;
        }
    }
}

.innovative-section{
    background: #0071C5;
    margin-bottom: 108px;
    margin-right: 60px;
    .innovative-title{
        font-family: r-r;
        font-size: 48px;
        font-style: normal;
        font-weight: 400;
        line-height: 54px;
        letter-spacing: 0em;
        color: #fff;
        text-align: left;
    }
    .innovative-block{
        padding: 44px 0px 44px 0px;
        grid-template-columns: 420px 600px;
        grid-column-gap: 79px;
        margin-left: 29px;
        display: grid;
    }
    .innovative-text{
        margin-top: 32px;
        font-family: r-r;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0em;
        text-align: left;
        display: flex;
        margin-right: 2px;
        color: #fff;
        a{
            color: #fff;
        }
        &::after{
            display: block;
            width: 32px;
            height: 32px;
            content: "";
            background-size: contain;
            background-image: url("/image/carbon_arrow-up-right-white.svg");
        }
    }
    .innovative-image{
        width: 600px;
        height: 422px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
      }
    }

    @media only screen and (max-width: 1189px){
        margin-right: 40px;
        .innovative-block{
            grid-template-columns: 420px 600px;
            grid-column-gap: 44px;
        }

        .innovative-image{
            width: 472px;
            height: 382px;
        }
    }
    @media only screen and (max-width: 1023px){
        margin-right: 24px;
        .innovative-block{
            grid-template-columns: 324px 354px;
            grid-column-gap: 18px;
        }

        .innovative-image{
            width: 354px;
            height: 266px;
        }
        .innovative-title{
            font-size: 38px;
            line-height: 46px;
        }
        .innovative-text{
            margin-top: 32px;
            &::after{
                width: 26px;
                height: 26px;
            }
        }
        .innovative-item{
            padding-left: 0;
        }
    }

    @media only screen and (max-width: 1023px){
        margin-right: 0;
        .innovative-block{
            grid-template-columns: 1fr;
            grid-column-gap: 0px;
        }

        .innovative-image{
            width: 100%;
            height: 360px;
            margin-top: 32px;
        }
        .innovative-title{
            font-size: 30px;
            line-height: 36px;
        }
        .innovative-text{
            margin-top: 24px;
            font-size: 22px;
            line-height: 26px;
        }
        .innovative-item{
            padding-left: 0;
        }
    }
}