@mixin style-blog(){
    font-family: r-m;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
}

.company-section{
    display: flex;
    justify-content: center;
    margin-bottom: 108px;
    .global-title{
        margin-top: 40px;
        margin-bottom: 80px;
        @media only screen and (max-width: 767px){
            margin-top: 44px;
            margin-bottom: 44px;
        }
    }
    .blog-container{
        width: 100%;
    }

    .blog-ul{
        display: flex;
        flex-wrap: wrap;
        grid-row-gap: 12px;
        .blog-ul-item{
            @include style-blog();
            padding: 6px 16px;
            border: 1px solid #0071C5;
            color: #0071C5;
            margin-right: 12px;
            border-radius: 16px;
            text-align: right;

            cursor: pointer;
            height: 34px;
            &:hover{
                color: #fff;
                background: #0071C5;
                transition: .2s;
            }
        }
    }

    .blog-dropdown{
        width: 120px;
        height: 34px;
        position: relative;
        .blog-dropdown-text{
            @include style-blog();
            font-family: r-r;
            font-weight: 400;
           
            cursor: pointer;

            display: flex;
            justify-content: flex-end;
            &::after{
                display: block;
                content: "";
                width: 20px;
                height: 20px;
                background-repeat: no-repeat;
                background-size: contain;
                background-image: url("/image/vector/bxs_down-arrow.svg");
                
            }

        }

    }

    .blog-item-list{
        display: flex;
        justify-content: space-between;
        @media only screen and (max-width: 767px) {
            flex-direction: column-reverse;
            .blog-dropdown-text{
                margin-bottom: 16px;
                justify-content: flex-start;
            }
        }
    }

    
}


.blog-grid-wrapper{
    margin-top: 44px;
}

.blog-dropdown-control{
    position: absolute;
    display: none;
    left: 0;
    background: #FFFFFF;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.08);
        border-radius: 8px;
        margin-top: 12px;
        padding-top: 6px;
        padding-bottom: 6px;
        @media only screen and (max-width: 767px) {
            margin-top: -5px;
        }
    .blog-dropdown-item{
        @include style-blog();
        font-family: r-r;
        font-weight: 400;
        text-align: center;
        padding: 6px;
        border-bottom: 1px solid #F1F1F1;
        cursor: pointer;
        &:hover{
            transition: .4s;
            opacity: 0.7;
        }
        width: 120px;
        &:last-child{
            border-bottom: none;
        }
        
    }
}

.blog-dropdown-active{
    .blog-dropdown-control{
        display: block;
    }
    .blog-dropdown-text{
        transition: all .5s;
        &::after{
            transform: rotate(180deg);    
        }
    }
}

.hashtag-menu{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 12px;
    .hashtag-item{
        margin-right: 12px;
        @include style-blog();
        font-weight: 400;
        font-family: r-r;
        color: #0071C5;
    }
    .hashtag-item-green{
        color: #26932A;
    }
    
}

.blog-grid-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 46px;
    grid-row-gap: 44px;
    .row{


        .row-text{
            font-family: r-m;
            font-weight: 400;
            color: #151516;
            font-size: 18px;
            line-height: 24px;
        }
        .row-image{
            background: #C4C4C4;
            width: 100%;
            height: 250px;
            margin-bottom: 12px;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &:nth-child(10n+7),&:nth-child(10n+1){
            grid-column: span 2;
            .row-image{
                height: 380px;
            }
            
        }
        
        
        
    }
    @media only screen and (max-width: 1189px) {
        grid-column-gap: 35px;
        .row{
            // .row-image{
            //     height: 250px;
            // }
    
            &:nth-child(10n+7), &:nth-child(10n+1){
                .row-image{
                    height: 350px;
                }
                
            } 
        }
    }

    @media only screen and (max-width: 1023px) {
        grid-column-gap: 30px;

        .row{
            .row-image{
                height: 220px;
            }
    
            &:nth-child(10n+7),&:nth-child(10n+1){
                .row-image{
                    height: 320px;
                }
                
            } 
        }
    }

    @media only screen and (max-width: 767px) {
        margin-top: 32px;
        grid-column-gap: 25px;
        grid-row-gap: 35px;
        grid-template-columns: 1fr 1fr;
        
        .row{

            .row-text{
                font-size: 16px;
                line-height: 20px;
            }


            .row-image{
                height: 200px;
            }
    
            &:nth-child(10n+7),&:nth-child(10n+1){
                grid-column: unset;
                .row-image{
                    height: 200px;
                }
                
            } 
            &:nth-child(3n+1){
                grid-column: span 2;
                
            }
            
        }
    }
    @media only screen and (max-width: 480px) {
        grid-column-gap: 25px;
        grid-row-gap: 25px;
        grid-template-columns: 1fr 1fr;
        .row{
            .row-image{
                height: 150px;
            }
    
            &:nth-child(10n+7),&:nth-child(10n+1){
                .row-image{
                    height: 150px;
                }
                
            } 
            &:nth-child(3n+1){
                .row-image{
                    height: 180px;
                }
                
                
            }
            
        }
    }
}

.blog-btn{
    width: 100%;
    display: flex;
    justify-content: center;
    .download-more{
        margin: 64px auto 0px;
        padding: 12px 67px;
        width: 244px;
    }
}
