@mixin style-blog2(){
    font-family: r-r;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
}

@mixin content-title(){
    font-family: r-m;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
}

.blog-item-section{
    margin-top: 40px;
    .blog-item-wrapper{
        padding-top: 64px;
        @media only screen and (max-width: 767px) {
            padding-top: 44px;
        }
        border-top: 1px solid #f1f1f1;
        display: flex;
        justify-content: space-between;


        .blog-item-block{
            width: 100%;
            max-width: 640px;
        }

        .blog-item-article{
            width: 300px;
            .row-image{
                width: 100%;
                height: 180px;
                @media only screen and (max-width: 480px) {
                    height: 140px;
                }
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover
                }
            }
            .article-title{
                @include content-title();
                font-size: 20px;
                line-height: 26px;
                margin-bottom: 24px;
            }

            .row{
                margin-bottom: 20px;
                &:last-child{
                    margin-bottom: 0;
                }
            }

            .hashtag-menu{
                margin-top: 6px;
                margin-bottom: 6px;
            }
        }
    }

    .blog-item-name{
        font-family: r-b;
        font-size: 24px;
        font-weight: 600;
        line-height: 32px;
        margin-bottom: 16px;
    }
    

    .data-author{
        @include style-blog2();
        color: #a4a4a4;
        margin-bottom: 22px;
        display: flex;
        p{
            margin-right: 16px;
            &:last-child{
                margin-right: 0;
            }
        }
    }

    .content-title{
        @include content-title();
        margin-bottom: 24px;
        margin-top: 24px;
    }

    .content-text{
        @include style-blog2();
        line-height: 22px;
        margin-bottom: 18px;
        p{
            margin-bottom: 20px;
            &:last-child{
                margin-bottom: 0;
            }
        }
    }

    .content-image{
        margin-top: 32px;
        margin-bottom: 12px;

        width: 640px;
        height: 250px;
        background: #c4c4c4;
        
        img{
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    .author-image{
        color: #A4A4A4;
    }

    .share-control{
        border-top: 1px solid #F1F1F1;
        padding-top: 32px;
        margin-top: 32px;
        display: flex;
        align-items: center;
        p{
            @include style-blog2();
            font-size: 18px;
        }
    }

    .share-item-list{
        margin-left: 24px;
        width: 188px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        img{
            width: 32px;
            height: 32px;
            object-fit: contain;
        }
    }

}

.blog-item-swiper{
    margin-top: 88px;
    margin-bottom: 108px;
    .OtherProductSwiper {
        .row-other {
            .row-image-other {
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }

    .hashtag-menu{
        margin-top: 12px;
        margin-bottom: 12px;
    }

    .swiper-blog-text{
        font-family: r-r;
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
        color: #151516;

        a{
            color: #151516;
        }
    }
}


@media only screen and (max-width: 1189px) {
    .blog-item-section{
        .blog-item-wrapper{
            .blog-item-block{
                max-width: 560px;
            }
        }
        .content-image{
            width: 100%;
        }
    }
    
}

@media only screen and (max-width: 1023px) {
    .blog-item-section{
        .blog-item-wrapper{

            display: block;
            .blog-item-block{
                margin-bottom: 60px;
                max-width: 100%;
            }
            .blog-item-article{
                width: 100%;
            }
        }
        .content-image{
            width: 100%;
        }
    }

    .row-article-control{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 30px;
    }
    
}


.blog-item-other{
    margin-top: 88px;
    .global-title{
        margin-bottom: 44px;
    }

    .other-blog-block{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 44px;
        

        .hashtag-menu{
            display: flex;
            flex-wrap: wrap;
            margin-top: 12px;
            margin-bottom: 12px;
            .hashtag-item{
                margin-right: 12px;
                @include style-blog();
                font-weight: 400;
                font-family: r-r;
                color: #0071C5;
            }
            .hashtag-item-green{
                color: #26932A;
            }
            
        }
        
        .row-image-other{
            height: 250px;
            img{
                width: 100%;
                height: 250px;
                object-fit: cover;
            }
        }
        @media only screen and (max-width: 1189px) {
            grid-column-gap: 32px;
        }
        @media only screen and (max-width: 1023px) {
            grid-template-columns: 1fr;
            grid-row-gap: 32px;
            .row-image-other{
                height: 220px;
                img{
                    height: 220px;
                }
            }
        }
        
        @media only screen and (max-width: 480px) {
    
            .row-image-other{
                height: 180px;
                img{
                    height: 180px;
                }
            }
        }
        
        .swiper-blog-text{
            font-family: r-r;
            font-weight: 400;
            color: #151516;
            font-size: 18px;
            line-height: 24px;
        }
    }
}