.cube-section{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 221%;
    display: flex;
    justify-content: space-between;
    overflow-x: hidden;
    z-index: -2;
}
.cube{
    width:300px;
    height:300px;
    margin:100px auto;
    position: relative;
    transform-origin:50% 50% -150px;
    transform-style:preserve-3d;
    transform: rotate3d(1,1,1,50deg);
    transition: 2s linear;
    animation-name: anim-hero-cube;
    animation-iteration-count: infinite;
    animation-duration: 25s;
    @keyframes anim-hero-cube {
        0%{transform: rotate3d(1,1,1,50deg);}
        100%{transform: rotate3d(1,1,1,450deg);}
    }

  .item{
    width:inherit;
    height:inherit;
    position: absolute;
    border: 6px solid #0071C5;
    border-radius:10px;
    line-height:300px;
    text-align:center;
    background: #ffffff;
    transform-origin:50% 50% -148px;
  }
  .item2{transform:rotateY(90deg);}
  .item3{transform:rotateY(-90deg);}
  .item4{transform:rotateX(90deg);}
  .item5{transform:rotateX(-90deg);}
  .item6{transform:rotateY(180deg);}
}

.cube-style-two{
    animation-duration: 50s;
    .item{
        border: 6px solid #000000;
        background: #0074ccb3;
    }
}

.cube-size{
   
    transform: scale(0.3);
    &:nth-child(2){
        transform: scale(0.2);
    }
    &:nth-child(even){
        margin-top: 100px;
    }
    @media only screen and (max-width: 550px) {
        transform: scale(0.17);
    &:nth-child(2){
        transform: scale(0.15);
    }
    }
}
.cube-control{
    position: absolute;
    animation-name: anim-cube;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    @keyframes anim-cube {
        0%{transform: rotate(0deg);}
        100%{transform: rotate(360deg);}
    }
}

// @media only screen and (max-width: 1440px){
//     .cube-section{
//         min-height: 150%;
//     }
// }

.product-cube{
    min-height: 170%;
}

.contact-cube{
    min-height: 120%;
}

.hero-animation{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    .cube-section{
        justify-content: space-between;
        z-index: -1;
        min-height: 110%;
        height: auto;
        .cube-size{
            margin-top: 200px;
            &:nth-child(2){
                margin-top: -200px;
            }
            transform: scale(.3);
            margin-right: 5%;
        }
        // .cube{
        //     .item{
        
        //         border: 30px solid #0071C5;

        //     }
        // }
    }
}


// HEADER

.logo-control{
    position: relative;
    .cube-size{
        position: absolute;
        top: -8px;
        left: -19px;
        transform: scale(0.07);
        &:nth-child(2){
            top: -76px;
            left: 132px;
        }
    }
}







.canvas{
    canvas{
        z-index: -1;
        position: absolute;
    }

}


.hero-animation {
    .cube-section{
        .cube-row{
            margin-top: 10%;
            position: absolute;
            right: 10%;
        
        }
        .cube-error{
            transform: scale(0.6);
        }
        .cube-error3{
            margin-left: 5rem;
        }
        .cube-error2{
            transform: scale(0.2);
            padding-right: 10rem;
        }
    }
}
