
$anim1and3width: 50%;

@mixin animsettings {
    animation-fill-mode: forwards;
    animation-duration: 4s;
}


.first_page_center{
    overflow: hidden;
    width: 100%;
    left: 0;
    right: 0;
    position: absolute;
}
// ANIMATION
// ANIMATION color

$animlinecolor: rgb(28, 27, 27);
$animlineclonecolor: rgb(42, 41, 41);

$animlinecolor2: rgb(26, 24, 24);
$animlineclonecolor2:  rgb(36, 33, 33);

$animlinecolor3: rgb(24, 21, 21);
$animlineclonecolor3: rgb(39, 34, 34);

$animlinecolor4: rgb(19, 17, 17);
$animlineclonecolor4: rgb(39, 35, 35);

// ANIMATION
// ANIMATION

@keyframes animpage{
    0%{
        width: $anim1and3width;
    }

    50%{
        width: 30%;
    }
    100%{
        width: 0px;
    }
}

@keyframes animpage2{
    0%{
        height: 49%;
    }

    50%{
        height: 30%;

    }
    100%{
        height: 0px;
    }
}

@keyframes animpage3{
    0%{
        width: $anim1and3width;
    }

    50%{
        width: 30%;
    }
    100%{
        width: 0px;
    }
}

@keyframes animpage4{
    0%{
        height: 49%;
    }

    50%{
        height: 30%;
    }
    100%{
        height: 0px;
    }
}


.first_page_block{
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
    background: $animlinecolor;

    animation-name: animpage;
    @include animsettings();
    z-index: 4;
    animation-delay: 5s;

}



.first_page_block2{
    position: absolute;
    width: 100%;
    height: 50%;
    bottom: 0;
    background: $animlinecolor2;

    animation-name: animpage2;
    @include animsettings();
    z-index: 12;
    animation-delay: 0.5s;

    
}

.first_page_block3{
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    right: 0;
    background: $animlinecolor3;

    animation-name: animpage;
    @include animsettings();
    z-index: 10;
    animation-delay: 4s;

}

.first_page_block4{
    position: absolute;
    width: 100%;
    height: 50%;
    top: 0;
    background: $animlinecolor4;
    z-index: 8;
    animation-name: animpage2;
    @include animsettings();
    animation-delay: 1s;
    
}

// PAGE CLONS

.first_page_clone{
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
    background: $animlineclonecolor;

    animation-name: animpage;
    @include animsettings();
    z-index: 1;
    animation-delay: 5.5s;
    box-shadow: 0 0 30px 2px #000;
}


.first_page_clone2{
    position: absolute;
    width: 100%;
    height: 50%;
    bottom: 0;
    background: $animlineclonecolor2;

    animation-name: animpage2;
    @include animsettings();
    z-index: 11;
    animation-delay: 1s;
    box-shadow: 0 0 10px 2px #000

    
}

.first_page_clone3{
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    right: 0;
    background: $animlineclonecolor3;

    animation-name: animpage;
    @include animsettings();
    z-index: 9;
    animation-delay: 4.5s;
    box-shadow: 0 0 30px 2px #000;

}



.first_page_clone4{
    position: absolute;
    width: 100%;
    height: 50%;
    top: 0;
    background: $animlineclonecolor4;
    z-index: 7;
    animation-name: animpage2;
    @include animsettings();
    animation-delay: 1.5s;
    box-shadow: 0 0 30px 2px #000;
    
}

.cube-size{
    .cube-control{
        &:nth-child(1){
            animation-name: anim-ver-var;
            animation-duration: 6s;
            animation-delay: 1s;
        }
        &:nth-child(2){
            animation-name: anim-var-ver;
            animation-duration: 5s;
        }
    }
}

@keyframes anim-ver-var{
    0%{
        transform: translateY(-20%);
    }
    50%{
        transform: translateY(20%);
    }
    100%{
        transform: translateY(-20%);
    }
}

@keyframes anim-var-ver{
    0%{
        transform: translateY(-40%);
    }
    50%{
        transform: translateY(-70%);
    }
    100%{
        transform: translateY(-40%);
    }
}