// ROBOTO

@font-face {
    font-family: r-l;
    src: url(../fonts/Roboto-Light.ttf); 
}
@font-face {
    font-family: r-r;
    src: url(../fonts/Roboto-Regular.ttf); 
}
@font-face {
    font-family: r-m;
    src: url(../fonts/Roboto-Medium.ttf); 
}
@font-face {
    font-family: r-b;
    src: url(../fonts/Roboto-Bold.ttf); 
}

// INTER

@font-face {
    font-family: i-l;
    src: url(../fonts/Inter-Light.ttf); 
}
@font-face {
    font-family: i-r;
    src: url(../fonts/Inter-Regular.ttf); 
}
@font-face {
    font-family: i-m;
    src: url(../fonts/Inter-Medium.ttf); 
}
@font-face {
    font-family: i-b;
    src: url(../fonts/Inter-Bold.ttf); 
}