.footer{
    background: #0071C5;
    // position: absolute;
    // bottom: 0;
    // left: 0;
    // right: 0;
    width: 100%;
    height: 88px;

    display: flex;
    justify-content: center;
    #footer-logo{
        img{
            width: 144px;
            height: 48px;
            object-fit: contain;
            margin-left: -7px;
        }
        margin-left: -12px;
    }
    .footer-wrapper{
        width: 100%;
        max-width: 1160px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 0;
            .footer-nav{
                display: flex;
                justify-content: space-between;
                width: 100%;
                max-width: 817px;
                .footer-link{
                    font-family: r-r;
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 20px;
                    position: relative;
                    a{
                        color: #ffffff;
                    }

                }
            }
        }
        @media only screen and (max-width: 1189px){
            .footer-wrapper{
                 max-width: 944px;
                 .footer-nav{
                     max-width: 793px;
                 }
            }
            position: relative;
           .footer-visible-block{
                position: absolute;
                right: 16px;
                bottom: 12px;
           }
        }
        @media only screen and (max-width: 1023px){
            .footer-wrapper{
                max-width: 720px;
                .footer-nav{
                    max-width: 560px;
                    flex-wrap: wrap;
                    .footer-email{
                        order: 4;
                        margin-top: 8px;
                    }
                }
           }
           

        }

        @media only screen and (max-width: 767px){
            height: auto;
            .footer-wrapper{
                padding-left: 20px;
                display: block;
                .footer-nav{
                    margin-top: 24px;
                    max-width: 254px;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    .footer-link{
                        width: 100%;
                        text-align: left;
                        margin-bottom: 16px;
                        &:nth-child(3){
                            order: 4;
                        }
                        &:nth-child(1){
                            order: 2;
                        }
                        .application-footer{
                            order: 1;
                        }
                    }
                }
           }
          
        }
}

.footer-visible-block{
    font-family: i-r;
            font-weight: 400;
            font-size: 13px;
            line-height: 18px;
            position: relative;
            a{
                color: #ffffff;
            }
}

.application-footer{
    display: flex;
    &::after{
        display: block;
        width: 20px;
        height: 20px;
        content: "";
        background-size: contain;
        background-image: url(/image/carbon_arrow-up-right-white.svg);
    }
    
}