.header{
    background: #fff;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 12px;
    padding-right: 16px;
    padding-left: 16px;

    #header-logo{
        margin-left: -14px;
    }

    .header-wrapper{
        width: 100%;
        max-width: 1160px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
            .header-nav{
                margin-left: 17.8%;
                margin-top: -9px;
                display: flex;
                justify-content: space-between;
                width: 100%;
                max-width: 653px;
                .header-link{
                    font-family: r-r;
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 20px;
                    position: relative;
                    a{
                        color: #151516;
                    }

                }
                .header-link-active{
                    font-family: r-m;
                    font-weight: 500;
                    &::after{
                        position: absolute;
                        border-bottom: 1px solid #FF0000;
                        content: "";
                        width: 100%;
                        left: 0;
                        bottom: -2px;
                    }
                }
            }
            // header nav
            .search-item{
                margin-top: -9px;
                position: relative;
                display: flex;
                &::after{
                    display: block;
                    content: "";
                    width: 20px;
                    height: 20px;
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-image: url("/image/search-outlined.svg");
                }
                .search-input{
                    margin-right: 7px;
                    border: none;
                    outline: none;
                    max-width: 111px;
                    font-family: i-r;
                    color: #151516;
                    text-align: left;
                    font-size: 15px;
                    line-height: 20px;
                    
                    &::placeholder{
                       font-family: i-r;
                       color: #151516;
                       text-align: right;
                       
                    }
            
                }
            }
            .search-item-active{
                border-bottom: 1px solid #151516;
                .search-input{
                    &::placeholder{
                        text-align: left;
                        
                    }
                }
            }
        @media only screen and (max-width:  1189px){
            max-width: 944px;
            .header-nav{
                margin-left: 6%;
                max-width: 581px;
            }
        }
        @media only screen and (max-width: 1023px) {
            max-width: 720px;
            .logo-control{
                position: absolute;
                display: flex;
                justify-content: center;
                width: 100%;
                left: 0;
                right: 0;
            }
            .burger-menu{
                display: block;
                position: relative;
                z-index: 6;
                .burger-line{
                    line-height: 47px;
                }
               
            } 
            .search-item{
                z-index: 4;
            }
            .header-nav{
                display: none;
            }
        }

        @media only screen and (max-width: 480px) {
            .burger-menu{
                .burger-control{
                    width: 278px;
                }
                .burger-line{
                    margin-top: 5px;
                    line-height: 55px;
                }
            }
            #header-logo{
                img{
                    width: 112px;
                    height: 50px;
                    margin-top: 4px;
                }
            }
            .search-item{
                margin-top: 4px;
                .search-input{
                    width: 50px;
                    &::placeholder{
                        color: #151516;
                    }
                }
            }
            .search-item-active{
                border-bottom: none;
                .search-item-close{
                    display: block;
                    position: absolute;
                    top: -55px;
                    right: 0px;
                    display: flex;
                    margin-right: 6px;



                    font-family: i-r;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 20px;
                    letter-spacing: 0em;
                    text-align: left;

                    &::after{
                        content: "";
                        display: block;
                        background-image: url("/image/blackclose.svg");
                        width: 20px;
                        height: 20px;
                        background-size: contain;
                    }

                    &::before{
                        position: absolute;
                        margin-left: 20px;
                        margin-top: 94px;
                        content: "";
                        width: 30px;
                        border-bottom: 1px solid #151516;
                    }
                }
                position: absolute;
                top: 84px;
                left: 0px;
                padding-left: 16px;
                padding-right: 16px;
                right: 0px;
                padding-top: 16px;
                background: #fff;
                padding-bottom: 5px;
                &::before{
                    width: 100%;
                    height: 50px;
                    background: #fff;
                    content: "";
                    position: absolute;
                    margin-top: 26px;
                    left: 0;
                }
                .search-input{
                    border-bottom: 1px solid #151516;
                    padding-bottom: 3px;
                    color: #151516;
                    max-width: 100%;
                    width: 100%;
                }
            }
        }
    }
}

.burger-menu{
    display: none;

    .burger-line{
        cursor: pointer;
            font-family: i-r;
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: 0em;
            text-align: left;
        }
    .burger-control{
        transition: .5s;
        position: fixed;
        left: -700px;
        top: 0;
        bottom: 0;
        width: 298px;
        height: 100%;
        z-index: 100;
        background: #0071C5;
        padding: 24px;
        z-index: 7;
        .burger-item{
            align-items: center;
            display: flex;
            justify-content: space-between;
            margin-bottom: 44px;
            .burger-close{
                cursor: pointer;
                font-family: i-r;
                font-size: 15px;
                font-style: normal;
                font-weight: 400;
                line-height: 20px;
                letter-spacing: 0em;
                color: #fff;
                display: flex;
                margin-top: -4px;
                &::after{
                    margin-top: 4px;
                    margin-left: 8px;
                    display: block;
                    content: "";
                    width: 12px;
                    height: 12px;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-image: url("/image/VectorClose.svg");
                }
            }
        }

        .burger-nav{
            .burger-link{
                margin-bottom: 20px;
                &:last-child{
                    margin-bottom: 0;
                }
                font-family: i-r;
                font-weight: 400;
                font-size: 15px;
                line-height: 20px;
                position: relative;
                a{
                    color: #ffffff;
                }

            }
            .burger-link-active{
                font-family: i-m;
                font-weight: 500;
                margin-bottom: 16px;
                
                a{
                    padding-bottom: 4px;
                    border-bottom: 1px solid #FF0000;
                }
            }
        }
    }
        
    .burger-hidden{
        left: -700px;
        transition: .5s;
    }

    .burger-open{
        left: 0;
        transition: .5s;
        z-index: 2;
        // .blur-backdrop{
        //     position: fixed;
        //     top: 0;
        //     bottom: 0;
        //     right: 0;
        //     left: 0;
        //     width: 100%;
        //     height: 100%;
        //     backdrop-filter: blur(1.5px);  
        //     background: rgba(0, 0, 0, 0.34); 
        // }
        .burger-nav, .burger-item{
            z-index: 2;
            position: relative;
        }
    }

}

.search-item-close{
    display: none;
}