html{
    min-height: 100%;
    // height: 100%;
}

body {
    // background: #0071C5;
    
    display:flex;
  flex-direction:column;
  min-height:100vh;
}

.global-btn{
    border: 1px solid #FF0000;
    border-radius: 24px;
    color: #FF0000;
    transition: .5s;
    padding: 12px 42px;
    background: #fff;
    font-family: r-m;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;

    &:hover{
        background: #FF0000;
        color: #FFF;
        transition: .5s;
    }
}

.vertical-center{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.global-white-btn{

    font-family: r-m;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    color: #FF0000;
    background: #fff;
    border: 1px solid #FFF;
    transition: .5s;

    border-radius: 24px;
    margin: 16px auto 0;
    padding: 12px 103px;
    &:hover{
        background: #FF0000;
        color: #FFF;
        transition: .5s;
        border: 1px solid #FF0000;
    }
}

.btn-center{
    display: flex;
    justify-content: center;
    width: 100%;
}

main{
    flex: 1;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.web-load{
    overflow: hidden;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    background: #0b4b7b;
    width: 100%;
    height: 100%;
    z-index: 7;
    &::after{
        content: "";
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;

        background: #0071C5;
        width: 100%;
        height: 100%;
        z-index: 1;

    }
    .web-load-wrapper{
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-right: -70px;
        position: relative;
        z-index: 40;
        .web-load-img{
            img{
                width: 400px;
                height: 120px;
            }
        }
        
    }
    
}

.web-load-wrapper-active{
    .web-load-vectors{
        .web-img, .web-img2{
            transform: translate(0%, 0%);
                transition: .5s;
        }

    }

        
    .web-line-items{
 
        .web-line{
    
            transition: .5s;
            &:nth-child(1){
                transform: translateX(0);
                transition: .8s;
            }
            &:nth-child(3){
                transform: translateX(0);
                transition: .6s;
            }
            &:nth-child(2){
                transform: translateX(0);
                transition: .7s;
            }
        }
    }

}


.web-load-vectors{
    width: 100px;
    margin-left: -60px;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    transform: rotate(-60deg);
    img{
        min-width: 70px;
        min-height: 70px;
        &:nth-child(1){
            transform: translate(-689%, -14%);
            transition: .5s;
        }
        &:nth-child(2){
            transform: translate(689%, 14%);
            transition: .5s;
        }
    }
}

.web-line-items{
    align-items: center;
    display: flex;
    height: 5px;
    margin-top: 25px;
    .web-line{
        width: 130px;
        height: 5px;
        &:nth-child(1){
            width: 50px;
            transition: .8;
            transform: translateX(-50rem);
        }
        background: #fff;
        &:nth-child(3){
            width: 70px;
            transition: .4;
            transform: translateX(-58rem);
        }
        &:nth-child(2){
            height: 2px;
            width: 270px;
            transition: .6;
            transform: translateX(-54rem);
        }
    }
}



.web-load-wrapper-active{
    .web-load-vectors{
        .web-img, .web-img2{
            transform: translate(0%, 0%);
                transition: .5s;
        }

    }

        
    .web-line-items{
 
        .web-line{
    
            transition: .5s;
            &:nth-child(1){
                transform: translateX(0);
                transition: .8s;
            }
            &:nth-child(3){
                transform: translateX(0);
                transition: .6s;
            }
            &:nth-child(2){
                transform: translateX(0);
                transition: .7s;
            }
        }
    }

}

.web-load-wrapper-active-end{
    
    .web-load-img{
        transform: translateX(90rem);
        transition: 1s;
    }

        
    .web-line-items{
        transform: translateX(90rem);
        transition: 1.7s;
        .web-line{
    
            transition: .5s;
            &:nth-child(1){
                transform: translateX(0);
                transition: .8s;
            }
            &:nth-child(3){
                transform: translateX(0);
                transition: .6s;
            }
            &:nth-child(2){
                transform: translateX(0);
                transition: .7s;
            }
        }
    }
}

.web-load-hidden{
    width: 0%;
    transition: .8s;
    right: 0;
    left: unset;
    &::after{
        right: 0;
        left: unset;
        width: 0%;
        transition: .7s;
    }
}

@media only screen and (max-width: 1023px){
    .web-load-wrapper{
        transform: scale(0.7);
        margin-left: -20px;
    }
}

@media only screen and (max-width: 550px){
    .web-load-wrapper{
        transform: scale(0.5);
        margin-left: -40px;
    }
}