.container{
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;
    @media only screen and (max-width: 1189px){
        max-width: 944px;
    }
    @media only screen and (max-width: 1023px){
        max-width: 720px;
    }
    @media only screen and (max-width: 767px) {
        max-width: 448px;
    }
    @media only screen and (max-width: 480px) {
        max-width: 328px;
    }
    @media only screen and (max-width: 360px) {
        padding-right: 5px;
        padding-left: 5px;
    }
}

.global-down{
    margin-bottom: 88px;
    @media only screen and (max-width: 767px) {
        margin-bottom: 44px;
    }
}

@mixin style-r{
    font-family: r-r;
    font-style: normal;
    letter-spacing: 0em;
    text-align: left;
    font-weight: 400;
}

.global-title{
    width: 100%;
    @include style-r();
    font-size: 28px;
    line-height: 34px;

    padding-bottom: 13px;
    border-bottom: 0.8px solid #F1F1F1;
    @media only screen and (max-width: 767px) {
        font-size: 22px;
        line-height: 26px;
    }
}


.global-subtitle{
    @include style-r();
    font-size: 28px;
    line-height: 34px;

    @media only screen and (max-width: 767px) {
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;

    }
}

.row-title{
    color: #0071C5;
    @include style-r();
    font-size: 24px;
    line-height: 32px;
    @media only screen and (max-width: 767px){
        font-size: 20px;
    }
}

.row-text{
    @include style-r();
    color: #151516;
    font-size: 15px;
    line-height: 22px;
}

// USING FEATURE


.features-section{
    padding-top: 40px;
    .global-subtitle{
        margin: 64px 0 32px;
    }
    .features-hero-block{
        width: 100%;
        display: flex;
        justify-content: space-between;

        .hero-block-item{
            
            &:nth-child(1){
                background: #F1F1F1;

            }

            width: 100%;
            max-width: 560px;
        }

        .hero-row{
            margin-bottom: 24px;
            &:last-child{
                margin-bottom: 0;
            }
            .row-title{
                margin-bottom: 10px;
            }
            .row-text{
                width: 100%;
                padding: 6px 0;
                border-bottom: 0.8px solid #F1F1F1
            }
        }
        
    }
    @media only screen and (max-width: 1189px){
        .features-hero-block{
            .hero-block-item{
                max-width: 452px;
            }
        }
    }
    @media only screen and (max-width: 1023px){
        .global-subtitle{
            margin: 44px 0;
        }
        .features-hero-block{
            flex-wrap: wrap;
            .hero-block-item{
                max-width: 100%;
                &:nth-child(1){
                    margin-bottom: 44px; 
                }
                &:nth-child(2){
                    display: grid;
                    grid-template-columns: 344px 344px;
                    grid-column-gap: 32px;
                }
            }
            .hero-row{
                
                &:nth-child(2){
                    .row-title{
                        max-width: 159px;
                    }
                }
            }
        }
    }

    @media only screen and (max-width: 767px) {
        .global-subtitle{
            margin: 44px 0 32px;
        }
        .features-hero-block{
            .hero-block-item{
                &:nth-child(1){
                    margin-bottom: 24px;
                }
                &:nth-child(2){
                    grid-template-columns: 1fr;
                }
                .hero-row{
                
                    &:nth-child(2){
                        .row-title{
                            max-width: none;
                        }
                    }
                }
            }
        }
    }

    @media only screen and (max-width: 480px) {
        padding-top: 44px;
    }
}


// APPLIACTION

.application-section{
    display: flex;
    justify-content: center;
    background: #0071C5;
    .global-subtitle{
        margin-bottom: 32px;
        color: #ffffff;
    }
    .application-wrapper{
        
        padding: 44px 0;
    }
    .application-items{
        column-count: 2;
        grid-column-gap: 46px;
        li{
            width: 100%;
            max-width: 600px;
            @include style-r();
            color: #fff;
            font-size: 16px;
            line-height: 22px;
            margin-bottom: 8px;
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
    @media only screen and (max-width: 1189px){
        .application-items{
            grid-column-gap: 40px;
        }
    }
    @media only screen and (max-width: 1023px) {
        .application-items{
            grid-column-gap: 0;
            column-count: 1;
        }
    }
}

.description-section{
    .description-wrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .text{
        font-family: r-r;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;
        margin-bottom: 25px;
        &:last-child{
            margin-bottom: 0;
        }
    }

    .description-block{
        grid-column-gap: 40px;
        column-count: 2;
        flex-wrap: wrap;
    }
    .cad-download{
        margin-bottom: 36px;

            outline: none;
            padding: 12px 70px;
            font-family: r-m;
            font-size: 15px;
            line-height: 18px;
            color: #ff0000;
            border: 1px solid #FF0000;
            border-radius: 24px;
            transition: .5s;
            cursor: pointer;
            &:hover{
                color: #F1F1F1;
                background: #ff0000;
                transition: .5s;
            }
    }
    @media only screen and (max-width: 1023px) {
        .description-block{
            column-count: 1;
        }

    }

    @media only screen and (max-width: 767px) {
        .global-subtitle{
            margin-bottom: 32px;
        }
        .description-block{
            order: 2;
        }
        .cad-download{
            order: 3;
            margin: 32px auto 0;
        }
    }
}

// !!

.section-feedback {
    border-bottom: 1px solid #F1F1F1;
    padding-bottom: 12px;
    margin-bottom: 44px;
    
    font-family: r-r;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    .feedback-item{
        display: flex;
        
    }
    .feed-back-link{
        margin-left: 24px;
        display: flex;
        &::after{
            display: block;
            width: 28px;
            height: 28px;
            margin-top: -2px;    
            content: "";
            background-size: contain;
            background-image: url("/image/carbon_arrow-up-right.svg");
        }
        a{
            color: #FF0000;
        }
    }
    @media only screen and (max-width: 1023px) {
        .feedback-item{
            display: block;
        }
        .feed-back-link{
            margin-left: 0;
            margin-top: 8px;
        }
    }

    @media only screen and (max-width: 1023px) {
        margin-bottom: 40px;
    }
    @media only screen and (max-width: 767px) {
        font-size: 18px;
        line-height: 24px;
    }
       
}


// OTDELNO PAGE

.hero-product-section{
    margin-top: 40px;
    margin-bottom: 108px;

    .global-title{
        margin-bottom: 64px;
    }
    .product-row{
        background-color: #fff;

    }
    

    .product-name{
        background-color: #fff;
        font-family: r-r;
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        margin-bottom: 12px;
        color: #151516;
        a{
            color: #151516;
        }
    }

    .image-product{
        width: 368px;
        height: 370px;
        display: flex;
        justify-content: center;
        background: #F1F1F1;
        border-radius: 2px;
        img{
            width: 203px;
            height: 174px;
            object-fit: contain;
            background-repeat: no-repeat;
        }
    }

    .block-product{
        display: grid;
        grid-template-columns: 368px 368px 368px;
        grid-column-gap: 28px;
    }

    @media only screen and (max-width: 1189px) {
        .block-product{
            grid-template-columns: 300px 300px 300px;
            grid-column-gap: 22px;
        }

        .image-product{
            width: 300px;
            height: 340px;
        }
    }
    @media only screen and (max-width: 1023px) {
        .block-product{
            grid-template-columns: 224px 224px 224px;
            grid-column-gap: 24px;
        }

        .image-product{
            width: 224px;
            height: 260px;
            img{
                width: 160px;
                height: 137px;
            }
        }
    }

    @media only screen and (max-width: 767px) {
        .global-title{
            margin-bottom: 44px;
        }
        .block-product{
            grid-template-columns: 215px 215px;
            grid-column-gap: 20px;
            grid-row-gap: 24px;

        }

        .image-product{
            width: 215px;
            height: 260px;
            img{
                width: 160px;
                height: 137px;
            }
        }
    }

    @media only screen and (max-width: 480px) {
        .block-product{
            grid-template-columns: 1fr;
            grid-column-gap: 0px;

        }

        .image-product{
            width: 100%;
            height: 260px;
            img{
                width: 160px;
                height: 137px;
            }
        }
    }
}

// ERROR
// ERROR 
// ERROR
.error-section{
    overflow-x: hidden;
    .error-container{
        margin-top: 40px;
        .error-title{
            font-family: r-m;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px;
            letter-spacing: 0.04em;
            text-align: center;
            color: red;
            text-transform: uppercase;
    
        }
    
        .global-title{
            margin-bottom: 97px;
        }
        .error-vectors{
            width: 522px;
            margin: 64px auto 150px;
            // background: #fff;
            img{
                transform: translateX(100rem);
            }
        }
    }
}

.error-section-active{
    .error-container{
        .error-vectors{
            img{
                object-fit: contain;
                transform: translateX(0);
                &:nth-child(1){
                    width: 165px;
                    height: 213px;

                    transition: .6s;
                }
                &:nth-child(2){
                    width: 161px;
                    height: 193px;

                    transition: .8s;
                }
                &:nth-child(3){
                    width: 166px;
                    height: 204px;

                    transition: 1s;
                }
            }

            @media only screen and (max-width: 767px) {
                width: 365px;
                img{
                    &:nth-child(1){
                        width: 116px;
                        height: 147px;
                    }
                    &:nth-child(2){
                        width: 116px;
                        height: 147px;
                    }
                    &:nth-child(3){
                        width: 116px;
                        height: 147px;
                    }
                }
            }

            @media only screen and (max-width: 767px) {
                width: 285px;

                img{
                    &:nth-child(1), &:nth-child(2),&:nth-child(3){
                        width: 92px;
                        height: 117px;
                    }
  
                }
            }
        }
    }
}