.other-products{
    .OtherProductSwiper{
        padding-top: 44px;
        .row-other{
            width: 564px;
            .row-image-other{
                display: flex;
                justify-content: center;
                width: 100%;
                height: 200px;
                background: #F1F1F1;
                border-radius: 2px;
                img{
                    width: 171px;
                    height: 146px;
                    object-fit: contain;
                }
            }
            .vertical-center{
                display: flex;
                justify-content: center;
                flex-direction: column;
            }
            .row-other-title{
                font-family: r-r;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
                letter-spacing: 0em;
                text-align: left;
                padding-top: 8px;
                color: #151516;
            }
        }

    }
    @media only screen and (max-width: 1189px) {
        .OtherProductSwiper{
            .row-other{
                width: 452px;
                .row-image-other{
                    height: 190px;
                }
            }
        }
    }
    @media only screen and (max-width: 1023px) {
        .OtherProductSwiper{
            .row-other{
                width: 352px;
                .row-image-other{
                    height: 180px;
                }
            }
        }
    }

    @media only screen and (max-width: 767px) {
        .OtherProductSwiper{
            .row-other{
                width: 200px;
                .row-other-title{
                    font-size: 16px;
                    line-height: 20px;
                }
                .row-image-other{
                    height: 180px;
                }
            }
        }
    }

    @media only screen and (max-width: 480px) {
        .OtherProductSwiper{
            .row-other{
                width: 160px;
                .row-image-other{
                    height: 160px;
                    img{
                        width: 138px;
                        height: 118px;
                    }
                }
            }
        }
    }
}