@mixin search-style{
    font-family: r-r;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;

}

.search-section{
   display: flex;
   justify-content: center;
   margin-top: 44px;
   margin-bottom: 108px;
   .global-title{
       margin-bottom: 64px;
       display: flex;
       .result-search{
           margin-left: 20px;
           @include search-style();
           line-height: 42px;
           color: #a4a4a4;
       }
       @media only screen and (max-width: 767px) {
           margin-bottom: 44px;
       }
       @media only screen and (max-width: 480px) {
           flex-direction: column;
           .result-search{
               margin-left: 0;
           }
       }
   }

   .search-grid-block{
       display: grid;
       grid-template-columns: 1fr 1fr;
       grid-column-gap: 72px;
       grid-row-gap: 64px;
       .search-row-control{
        grid-column-gap: 20px;
        display: flex;
       }
       .search-image{
           min-width: 202px;
           height: 120px;
           img{
               width: 100%;
               height: 100%;
               object-fit: cover;
           }
       }

       .search-text{
 
        
        font-family: r-r;
        font-size: 15px;
        font-weight: 400;
        line-height: 20px;
        color: #151516;
        strong{
            font-family: r-b;
            font-weight: 700;
        }
        
       }
       @media only screen and (max-width: 1023px) {
        grid-column-gap: 64px;
        .search-row-control{
            display: grid;
            grid-row-gap: 12px;
            grid-column-gap: 0px;
        }
        .search-image{
            margin-left: 0;
            width: 100%;
            height: 130px;
        }
       }
        @media only screen and (max-width: 767px) {
            grid-column-gap: 38px;
            grid-row-gap: 38px;
        }

         @media only screen and (max-width: 480px) {
            grid-template-columns: 1fr;
            grid-column-gap: 0;
            grid-row-gap: 44px;
        }
   }

}