.wiki-section{
    display: flex;
    justify-content: center;
    margin-bottom: 108px;
    margin-top: 40px;
    .global-title{
        margin-bottom: 44px;
    }

    .wiki-items{
        display: flex;
        // flex-wrap: wrap;
        overflow-x: auto;
        row-gap: 16px;
        column-gap: 8px;
        &::-webkit-scrollbar{
            width: 0;
            height: 0;
        }
        .wiki-point{
            max-width: 32px;
            
            font-family: r-r;
            font-size: 15px;
            line-height: 20px;
 
            padding: 6px 11px;
            list-style-type: none;
            color: #151516;
            border: 1px solid #E9E9E9;
            transition: .3s;
            text-align: center;
            border-radius: 8px;
            cursor: pointer;
            &:hover{
                font-family: r-m;
                color: #fff;
            background: #0071C5;
            border: 1px solid #0071C5;
            transition: .3s;
            }
        }
        .wiki-point-active{
            font-family: r-m;
            color: #fff;
            background: #0071C5;
            border: 1px solid #0071C5;
            transition: .3s;
        }
        .wiki-all{
            max-width: 42px;
        }
    }
    .wiki-number{
        margin-top: 16px;
    }
}
.wiki-set-number{
    margin-top: 88px;
    font-family: r-r;
    font-size: 28px;
    line-height: 34px;
    text-align: left;
    @media only screen and (max-width: 1023px){
        max-width: 660px;
        margin: 44px auto 16px;
    }
}
.wiki-grid-block{
    margin-top: 108px;
    display: grid;
    grid-row-gap: 40px;
    max-width: 660px;
    margin: -35px auto 0 ;
    @media only screen and (max-width: 1023px){
        margin: 0 auto 0;
    }
    
}
.wiki-title{
        font-family: r-m;
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 8px;
    }

    .wiki-text{
        font-family: r-r;
        font-size: 15px;
        line-height: 22px;
        
    }

.privacy-section{
    margin-top: 40px;
    margin-bottom: 108px;
    
    .privacy-block{
        margin: 64px auto 0;
        display: grid;
        row-gap: 24px;
        @media only screen and (max-width: 767px){
            
            margin: 44px auto 0;
        }
        @media only screen and (max-width: 359px){
            padding-right: 8px;
            padding-left: 8px;
        }
        max-width: 700px;
        width: 100%;

    }
}