.hero-banner{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    .hero-banner-control{
        width: 100%;
    }
    .HeroBannerSwiper{
        height: 472px;
        .hero-banner-image{
            position: absolute;
            z-index: -15;
            width: 100%;
            left: 0;
            right: 0;
            height: 472px;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .hero-banner-block{
            height: 100%;
            max-width: 1160px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            padding-bottom: 88px;
        }

        .hero-banner-title{
            max-width: 532px;
            font-family: r-r;
            font-size: 48px;
            font-style: normal;
            font-weight: 400;
            line-height: 54px;
            letter-spacing: 0em;
            text-align: left;
            color: #fff;
        }
    }
    @media only screen and (max-width: 1189px) {
        .HeroBannerSwiper{
            .hero-banner-block{
                padding-bottom: 93px;
                max-width: 944px;
            }
            .HeroBannerSwiper{
                height: 432px;
                .hero-banner-image{
                    height: 432px;
                }
            }
        }
    }
    @media only screen and (max-width: 1023px) {
        .HeroBannerSwiper{
            .hero-banner-block{
                padding-bottom: 64px;
                max-width: 720px;
            }
            .hero-banner-title{
                font-size: 38px;
                line-height: 46px;
                max-width: 426px;
            }
        }
    }

    @media only screen and (max-width: 767px) {
        .HeroBannerSwiper{
            .hero-banner-block{
                max-width: 440px;
            }
            .hero-banner-title{
                font-size: 30px;
                line-height: 36px;
            }
        }
    }
    @media only screen and (max-width: 480px) {
        .HeroBannerSwiper{
            .hero-banner-block{
                max-width: 328px;
            }
        }
    }
}

// BANNER END

.equipment-section{
    display: flex;
    justify-content: center;
    padding-left: 60px;
    margin-top: 108px;
    .global-btn{
        margin-top: 32px;
    }
    .equipment-wrapper{
        width: 100%;
        max-width: 1230px;
        display: grid;
        grid-template-columns: 205px 80%;
        grid-column-gap: 100px;
        overflow-x: hidden;
    }
    .global-subtitle{
        max-width: 208px;
    }
    .swiper-button-prev{
        width: 44px;
            height: 44px;
            background-size: contain;
            background-image: url("/image/rightArrow.svg");
            z-index: 2;
            position: absolute;
            transform: rotate(-180deg);
            left: 30px;
        &::after{
            content: none;
        }
    }
    .swiper-button-next{
        width: 44px;
            height: 44px;
            background-size: contain;
            background-image: url("/image/rightArrow.svg");
            margin-left: 49rem;
            z-index: 2;
            position: absolute;
            left: 0;
        &::after{
            content: none;
        }
        @media only screen and (max-width: 1280px) {margin-left: 48rem;}
        @media only screen and (max-width: 1189px) {margin-left: 43rem;}
        @media only screen and (max-width: 1111px) {margin-left: 37.99rem;}
        @media only screen and (max-width: 1023px) {margin-left: 34.5rem;}
        @media only screen and (max-width: 915px) {margin-left: 28.5rem;}
        @media only screen and (max-width: 815px) {margin-left: 25rem;}
        @media only screen and (max-width: 767px) {margin-left: 41rem;}
        @media only screen and (max-width: 732px) {margin-left: 36rem;}
        @media only screen and (max-width: 642px) {margin-left: 30rem;}
        @media only screen and (max-width: 558px) {margin-left: 25rem;}
        @media only screen and (max-width: 472px) {margin-left: 20rem;}
        @media only screen and (max-width: 392px) {margin-left: 15rem;}
    }

    .EquipmentSwiper{
        width: 1154px;
        height: 250px;
    }
   .equipment-row{
       width: 374px;
       height: 250px;
    &::after{
        content: "";
        width: 374px;
       height: 250px;
       position: absolute;
       left: 0;
       top: 0;
       z-index: 2;
       background: #f1f1f172;
    }
        background: #F1F1F1;
        border-radius: 2px;
       display: flex;
       justify-content: center;
       position: relative;
       .equipment-img{
           position: absolute;
           display: flex;
           height: 250px;
       }
   }

   .equipment-title{
       display: flex;
        color: #151516;
        font-family: r-r;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0em;
        text-align: center;
        position: relative;
        z-index: 3;
        
   }
   @media only screen and (max-width: 1189px){
    .equipment-wrapper{
        margin-left: -20px;
    }
    .EquipmentSwiper{
        width: 1004px;
        height: 220px;
    }
    .equipment-row{
        width: 324px;
        height: 220px;
        &::after{
            width: 324px;
            height: 220px;
        }
        .equipment-img{
            height: 220px;
        }
     }
   }
   @media only screen and (max-width: 1023px){
       padding-left: 40px;
       .equipment-wrapper{
        grid-column-gap: 60px;
        
    }
    .EquipmentSwiper{
        width: 864px;
        height: 200px;
    }
    .equipment-row{
        width: 280px;
        height: 200px;
        &::after{
            width: 280px;
            height: 200px;
        }
        .equipment-img{
            height: 200px;
        }
     }
   }
   
   @media only screen and (max-width: 767px){
        padding-left: 24px;
        margin-bottom: 158px;
        .global-subtitle{
            width: 100%;
            max-width: 100%;
            margin-bottom: 32px;
        }
       .equipment-wrapper{
        grid-template-columns: 1fr;
           
       }
       .global-btn{
        right: 0;
        position: absolute;
        margin: 14rem auto 0;
        max-width: 328px;
        left: 0;

       }
    .EquipmentSwiper{
        width: 780px;
        height: 190px;
    }
    .equipment-row{
        width: 254px;
        height: 190px;
        &::after{
            width: 254px;
            height: 190px;
        }
        .equipment-img{
            height: 190px;
        }
     }
   }
   
}

// equipment equipment equipment
// equipment equipment equipment

.introduce-section{
    background: #0071C5;
    margin-left: 60px;

    margin-top: 108px;
    margin-bottom: 108px;
    .introduce-title{
        font-family: r-r;
        font-size: 48px;
        font-style: normal;
        font-weight: 400;
        line-height: 54px;
        letter-spacing: 0em;
        color: #fff;
        text-align: left;
    }
    .introduce-block{
        padding: 44px 0px 44px 0px;
        grid-template-columns: 420px 600px;
        grid-column-gap: 79px;
        display: grid;
    }
    .introduce-text{
        margin-top: 32px;
        font-family: r-r;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0em;
        text-align: left;
        display: flex;
        margin-right: 2px;
        color: #fff;
        a{
            color: #fff;
        }
        &::after{
            display: block;
            width: 32px;
            height: 32px;
            margin-top: -3px;
            content: "";
            background-size: contain;
            background-image: url("/image/carbon_arrow-up-right-white.svg");
        }
    }
    .introduce-item{
        padding-left: 30px;
    }
    .introduce-image{
        width: 600px;
        height: 422px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
      }
    }

    @media only screen and (max-width: 1189px){
        margin-left: 40px;
        .introduce-block{
            grid-template-columns: 420px 600px;
            grid-column-gap: 44px;
        }

        .introduce-image{
            width: 472px;
            height: 382px;
        }
    }
    @media only screen and (max-width: 1023px){
        margin-left: 24px;
        .introduce-block{
            grid-template-columns: 324px 354px;
            grid-column-gap: 18px;
        }

        .introduce-image{
            width: 354px;
            height: 266px;
        }
        .introduce-title{
            font-size: 38px;
            line-height: 46px;
        }
        .introduce-text{
            margin-top: 32px;
        }
        .introduce-item{
            padding-left: 0;
        }
    }

    @media only screen and (max-width: 1023px){
        margin-left: 0;
        .introduce-block{
            grid-template-columns: 1fr;
            grid-column-gap: 0px;
        }

        .introduce-image{
            width: 100%;
            height: 360px;
            margin-top: 32px;
        }
        .introduce-title{
            font-size: 30px;
            line-height: 36px;
        }
        .introduce-text{
            margin-top: 24px;
            font-size: 22px;
            line-height: 26px;
        }
        .introduce-item{
            padding-left: 0;
        }
    }
}

// END 


.blog-section{
    display: flex;
    justify-content: center;
    margin-top: 108px;
    margin-bottom: 108px;
    .global-subtitle{
        margin-bottom: 44px;
    }
    .blog-item{
        grid-template-columns: 368px 368px 368px;
        grid-column-gap: 28px;
        display: grid;
    }
    .blog-row{
        background: #fff;
    }
    .blog-row-img{
        width: 368px;
        height: 250px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .blog-row-title-arrow{
        display: flex;
        margin-top: 12px;
        margin-bottom: 8px;
    }

    .blog-row-title{
        font-family: r-m;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        display: flex;

        color: #151516;

        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        
    }

    .arrow-subitem{
        margin-left: 4px;
        display: block;
        min-width: 24px;
        min-height: 24px;
        background-repeat: no-repeat;
        content: "";
        background-size: contain;
        background-image: url("/image/carbon_arrow-up-right-black.png");
    }

    .blog-row-text{
        color: #151516;
        font-family: r-r;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: left;

        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        display: -webkit-box;
        -webkit-box-orient: vertical;
    }
    @media only screen and (max-width: 1189px) {
        .blog-item{
            grid-template-columns: 300px 300px 300px;
            grid-column-gap: 22px;
        }
        .blog-row-img{
            width: 300px;
            height: 220px;
        }
    }
    @media only screen and (max-width: 1023px) {
        .blog-item{
            grid-template-columns: 228px 228px 228px;
            grid-column-gap: 18px;
        }
        .blog-row-img{
            width: 228px;
            height: 170px;
        }
    }

    @media only screen and (max-width: 767px) {
        .blog-item{
            grid-template-columns: 1fr;
            grid-column-gap: 0px;
            grid-row-gap: 24px;
        }
        .blog-row-img{
            width: 100%;
            height: 250px;
        }
    }
}