.hero-block-item{
    position: relative;
    &:nth-child(1){
        height: 592px;
    }

    .FeatureSwiper{
        position: absolute;
        left: 20px;
        top: 20px;
        .swiper-slide{
            width: 64px;
            min-height: 64px;
            height: 64px;
            cursor: pointer;
            // &::after{
            //     position: absolute;
            //     content: "";
            //     background-color: #00000045;
            //     width: 64px;
            //     height: 64px;
            //     top: 0;
            // }

            align-self: center;
            display: flex;
            justify-content: center;
            padding-top: 12px;
            
            background: #FFFFFF;
            border: 0.8px solid #CECECE;
            box-sizing: border-box;
            border-radius: 2px;

            img{
                width: 49px;
                height: 42px;
                object-fit: contain;
            }
        }

        .swiper-slide-thumb-active{
            border: 0.8px solid #151516;
            &::after{
                content: none;
            }
        }
    }

    .FeatureSwiper2{
        width: 560px;
        height: 100%;
        .swiper-slide{
            display: flex;
            justify-content: center;
            .vertical-center{
                display: flex;
                justify-content: center;
                flex-direction: column;
            }
            img{
                width: 350px;
                height: 300px;
                object-fit: contain;
                background-repeat: no-repeat;
            }
        }
    }

    @media only screen and (max-width: 1189px){
        .FeatureSwiper2{
            width: 452px;
            .swiper-slide{
                img{
                    width: 250px;
                    height: 200px;
                }
            }
        }
    }
    @media only screen and (max-width: 1023px) {
        &:nth-child(1){
            height: 482px;
        }
    }
    @media only screen and (max-width: 767px) {
        .FeatureSwiper{
            top: 24px;
            left: 12px;
            .swiper-slide{
                width: 44px;
                min-height: 44px;
                height: 44px;
                padding-top: 5px;
                img{
                    width: 38px;
                    height: 33px;
                }
            }
        }
        &:nth-child(1){
            height: 340px;
        }
    }
    @media only screen and (max-width: 480px) {
        .FeatureSwiper2{
            width: 328px;
            .swiper-slide{
                img{
                    width: 210px;
                    height: 190px;
                }
            }
        }
    }
}

