#heroAppi{
    margin-top: 40px;
    margin-bottom: 108px;
}

.hero-applications{
    .global-title{
        font-size: 28px;
        line-height: 34px;
        margin-bottom: 64px;
    }

    .hero-applications-block{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 40px;
        grid-row-gap: 44px;
    }

    .applications-image{
        width: 100%;
        height: 348px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .application-text{
        font-family: r-r;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: left;
        margin-top: 16px;
    }
    .applications-title{
        font-family: r-m;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        text-transform: uppercase;
        color: #0071C5;
        margin-bottom: 24px;
    }
    @media only screen and (max-width: 1023px){
        .applications-image{
            height: 308px;
        }
        .hero-applications-block{
            grid-column-gap: 32px;
        }
    }
    @media only screen and (max-width: 767px){
        .global-title{
            font-size: 24px;
            line-height: 32px;
            margin-bottom: 44px;
        }
        .hero-applications-block{
            display: grid;
            grid-template-columns: 1fr;
            grid-column-gap: 0px;
            grid-row-gap: 40px;
        }
    }
}