.contact-section{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 108px;
    overflow-x: hidden;

}

@mixin contact-style(){
    font-family: r-r;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
}

.contact-privacy{
    font-family: r-r;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    color: #ffffff80;
    margin-top: -8px;
    a{
        color: #ffffff80;
        border-bottom: 1px solid #ffffff80;
        
    }
}



.contact-wrapper{
    display: flex;
    justify-content: space-between;

    .form-sent {
        display: none;
        flex-direction: column;
    }

    .contact-title{
        font-family: r-r;
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: 34px;
        letter-spacing: 0em;
        text-align: left;
        color: #fff;
        margin-bottom: 44px;
    }

    .contact-block{
        padding-top: 48px;
        position: relative;
        &:nth-child(2){
            background: #0071C5;
            padding: 44px 44px 44px 64px;
            max-width: 645px;
            height: 748px;
            &::after{
                content: "";
                width: 900px;
                top: 0;
                height: 748px;
                z-index: -1;
                right: -700px;
                background: #0071C5;
                position: absolute;
            }
        }
        
    }
    
    .global-subtitle{
        margin-bottom: 44px;
    }
    form{
        .btn-center{
            justify-content: start;
            button{
                padding: 11px 77px;
                height: 44px;
                margin: -28px 0;
            }
        }
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 28px;
        
        .dropdown{
            display: flex;
            justify-content: space-between;
            position: relative;
            z-index: 1;
            &::after{
                transition: .5s;
                content: "";
                background-size: contain;
                background-repeat: no-repeat;
                width: 20px;
                height: 20px;
                background-image: url("/image/bxs_down-arrow.svg");
                margin-top: 2px;
                margin-bottom: -2px;
            }
            transition: .2s;
            .select-text{
                display: none;
                transition: .2s;
            }
            .dropdown-control{
                position: absolute;
                left: 0;
                width: 100%;
                box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.1);
                border-radius: 0px 0px 2px 2px;
                top: 30px;
                height: 50px;
                overflow: hidden;
                display: none;
                opacity: 0;
                transition: .2s;
            
                p{
                    background: #0071C5;
                    transition: .2s;
                    padding: 8px;
                    &:hover{
                        transition: .2s;
                        background: #158de9;
                    }
                }
            }
        }

        .dropdown-active{
            padding-left: 8px;
            transition: .2s;
            .select-text{
                display: block;
            }
            span{
                font-family: r-r;
                font-size: 12px;
                font-weight: 400;
                line-height: 16px;
                color: #ffffff80;
                position: absolute;
                left: 0;
                margin-top: -13px;
                transition: .2s;
            }
            &::after{
                transition: .2s;
                transform: rotate(180deg);
            }
            .dropdown-control{
                height: auto;
                overflow: unset;
                opacity: 1;
                transition: all .2s;
                display: block;
            }
        }
        .contact-row{
            position: relative;
            
            span{
                font-family: r-r;
                font-size: 15px;
                font-weight: 400;
                line-height: 22px;
                color: #ffffff;
                position: absolute;
                left: 0;
                transition: .2s;
                transform:translateY(0px);
                z-index: 1;
            }
        }
        .contact-row:focus-within > span,
        .contact-input:not(:placeholder-shown) + span{
            font-family: r-r;
            font-size: 12px;
            font-weight: 400;
            line-height: 16px;
            color: #ffffff80;
            position: absolute;
            left: 0;
            margin-top: -13px;
            transition: .2s;
            transform:translateY(0px);
        }
        
        .contact-input{
            width: 100%;
            max-width: 380px;
                z-index: 3;
                position: relative;
            background: transparent;
            width: 380px;
            outline: none;
            border-top: none;
            border-right: none;
            border-left: none;
            border-bottom: 0.8px solid #FFFFFF;
            padding-bottom: 8px;
            @include contact-style();
            resize: none;
            &::placeholder{
                opacity: 0;
                font-family: r-r;
                font-size: 15px;
                font-style: normal;
                font-weight: 400;
                line-height: 22px;
                letter-spacing: 0em;
                text-align: left;
                color: #fff;
            }
        }
        .dropdown{
            z-index: 12;
            cursor: pointer;
        }
        .zindex{
            z-index: 11;
        }
        .text-area{
            &::placeholder{
                opacity: 1;
            }
        }
    }


    

    .contact-option{
        @include contact-style();
        max-width: 200px;
        color: #151516;
    }

    .contact-row-title{
        font-family: r-m;
        font-size: 18px;
        font-weight: 500;
        line-height: 24px;
        text-transform: uppercase;
        color: #0071C5;
        margin-bottom: 8px;
    }
    .contact-row-text{
        font-family: r-r;
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;

        a{
            color: #151516;
        }
    }

    .contact-subblock{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 32px;
        max-width: 433px;
    }

    .textarea{
        margin-top: 40px;
    }

    @media only screen and (max-width: 1189px) {
        .contact-subblock{
            grid-template-columns: 1fr;
        }

    }

    @media only screen and (max-width: 1023px) {
        .contact-subblock{
            grid-template-columns: 1fr;
        }

        .contact-block{
            overflow: unset;
            &:nth-child(2){
                padding: 44px 32px 44px 27px;
                max-width: 448px;
                height: 786px;
                &::after{
                    height: 786px;
                }
            }
        }

    }

    @media only screen and (max-width: 767px) {
        .global-subtitle{
            margin-bottom: 32px;
        }
        .contact-row-title{
            font-size: 16px;
            line-height: 22px;
        }
        .contact-subblock{
            grid-row-gap: 24px;
        }
        .contact-title{
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: 32px;
        }

        display: block;
        .contact-block{
            
            &:nth-child(2){
                margin-top: 44px;
                padding: 44px 0px 44px 0px;
                max-width: 448px;
                height: 746px;
                @media only screen and (max-width: 480px) {
                    height: 796px;
                    &::after{
                        height: 796px;
                    }
                }
                &::after{
                    width: 800px;
                    right: -200px;
                }
            }
        }

        
        form{
            .contact-input{
               max-width: 100%;
               width: 100%;
            }
        }
    }
 
}

.contact-wrapper-active{
    form{
        display: none;
    }
    .form-sent {
        display: flex;
        margin-top: 79px;
        flex-direction: column;
        font-family: r-m;
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        color: #fff;
        a{
            margin-top: 16px;
            color: #ffffff80;
            font-family: r-r;
            font-size: 15px;
            font-weight: 400;
            line-height: 20px;
        }
    }
}


.supprot-section{
    margin-top: 64px;
    margin-bottom: 108px;
    overflow: hidden;
    .contact-title{
        padding-left: 44px;
        font-size: 24px;
        line-height: 32px;
        max-width: 590px;
    }
    .contact-wrapper{
        background: #0071C5;
    }
    .contact-block{
        &:nth-child(2){
            height: 710px;
            &::after{
                height: 710px;
            }
        }
        
    }
    @media only screen and (max-width: 767px) {
        background: #0071C5;
        .contact-title{
            padding-left: 0;
        }
    }
}

.support-wrapper{
    .global-title{
        margin-top: 40px;
    }
}